n8n-unified-ui-integration/unified-ui-integration-workflow.json
{
  "name": "unified-ui-integration",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6403d71a-89dc-49f0-b840-711c5acdd77a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "4j5uofKV6rIY5V3g",
          "mode": "list",
          "cachedResultName": "unified-ui-integration",
          "cachedResultUrl": "/projects/y8ejwi0III3uPZAd/datatables/4j5uofKV6rIY5V3g"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "PENDING"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "0ee76b50-d4bf-4d23-bb71-9a10b7c5844a",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "4j5uofKV6rIY5V3g",
          "mode": "list",
          "cachedResultName": "unified-ui-integration",
          "cachedResultUrl": "/projects/y8ejwi0III3uPZAd/datatables/4j5uofKV6rIY5V3g"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.tenant_id }}",
            "autonomous_agent_id": "={{ $json.autonomous_agent_id }}",
            "execution_id": "={{ $json.execution_id }}",
            "status": "RUNNING",
            "workflow_name": "={{ $json.workflow_name }}",
            "workflow_id": "={{ $json.workflow_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "autonomous_agent_id",
              "displayName": "autonomous_agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "d47b77e2-bf9f-44e2-86bb-9f740de6b441",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://host.docker.internal:8085/api/v1/agent-service/tenants/{{ $json.tenant_id }}/autonomous-agents/{{ $json.autonomous_agent_id }}/traces/import",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"N8N\",\n  \"executionId\": \"{{ $json.execution_id }}\",\n  \"sessionId\": null\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        0
      ],
      "id": "856cde15-564d-4145-88f5-4d5f45d4e812",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JyrGpeqeyXxhiRZa",
          "name": "Header Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "id": "40da5200-305d-49d8-97df-66e7b7255eb8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "4j5uofKV6rIY5V3g",
          "mode": "list",
          "cachedResultName": "unified-ui-integration",
          "cachedResultUrl": "/projects/y8ejwi0III3uPZAd/datatables/4j5uofKV6rIY5V3g"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get row(s)').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Get row(s)').item.json.tenant_id }}",
            "autonomous_agent_id": "={{ $('Get row(s)').item.json.autonomous_agent_id }}",
            "workflow_id": "={{ $('Get row(s)').item.json.workflow_id }}",
            "workflow_name": "={{ $('Get row(s)').item.json.workflow_name }}",
            "execution_id": "={{ $('Get row(s)').item.json.execution_id }}",
            "status": "SUCCESS"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "autonomous_agent_id",
              "displayName": "autonomous_agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        832,
        -80
      ],
      "id": "23b813ca-7e45-4b51-8784-8b9efb48e18e",
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "4j5uofKV6rIY5V3g",
          "mode": "list",
          "cachedResultName": "unified-ui-integration",
          "cachedResultUrl": "/projects/y8ejwi0III3uPZAd/datatables/4j5uofKV6rIY5V3g"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get row(s)').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Get row(s)').item.json.tenant_id }}",
            "execution_id": "={{ $('Get row(s)').item.json.execution_id }}",
            "workflow_name": "={{ $('Get row(s)').item.json.workflow_name }}",
            "autonomous_agent_id": "={{ $('Get row(s)').item.json.autonomous_agent_id }}",
            "workflow_id": "={{ $('Get row(s)').item.json.workflow_id }}",
            "status": "FAILED"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "autonomous_agent_id",
              "displayName": "autonomous_agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        832,
        96
      ],
      "id": "1c277dc0-1072-46cf-92c1-2b7da2f36db8",
      "name": "Update row(s)2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "06adf27f-550f-41a6-8e13-3af39e2f01d3",
  "meta": {
    "instanceId": "f0be8c6324100592952b6556238e4e16540662ec22c4c222a83d8a50c5de2694"
  },
  "id": "W92xhU23NNlhAFRR",
  "tags": []
}